SECRET_KEY=k%#gbf12a11$pb0cixoc7%@+k9u5(0#2fo#x-sll!ktln6dvs5
DEBUG=True

DATABASE_URL=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@contactbook.com
BREVO_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
