# Python
*.pyc
*~
__pycache__
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Environments
.env
.env.local
.env.*.local

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
node_modules/

# Testing
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
htmlcov/
pytest_cache/
.pytest_cache/

# Frontend builds
staticfiles/
