Django
gunicorn
whitenoise
psycopg[binary]
dj-database-url
python-dotenv
django-anymail

django-environ
django-allauth
djangorestframework
djangorestframework-simplejwt
drf-spectacular
Pillow
pyotp
vobject

